body #wrapper #middle{

  .projects{
    .project{
      .project-container{
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #f2f2f2;
      }

      &:last-child .project-container{
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }


  .content-single.project{

    .entry-thumbnail{
      width: 100%;
      height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

  }

}
